/*   СЕКЦИИ HERO*/

.hero-section {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    height: 600px;
    background-color: grey;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/hero/Hero_img.jpg');
    background-repeat: no-repeat;
    background-position: center;

    .container {
        text-align: center; 
    }
}

.hero {
    margin-bottom: 30px;
    padding-top: 200px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: $primary-white-color;
}



