/*  СЕКЦИЯ ЧЕМ МЫ ЗАНИМАЕМСЯ work*/

.work-list {
    display: flex;
    margin-top: 50px;
    padding-bottom: 94px;
}

.work-list-item {
    position: relative;
    text-align: center;
    
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work-discription {
    position: relative; 
}

.work-item {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 370px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-white-color;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    letter-spacing: 0.03em;
}
