/* цвет заголов текста #212121 */
/* основной цвет текста белый #FFFFFF  */
/* цвет основного текста #757575 */
/* акцент #2196F3*/
/* цвет логотипа #000000 */

    $main-font:"Roboto", sans-serif;
    $secondary-font:"Raleway", sans-serif;
    $primary-text-color: #757575;
    $title-text-color: #212121;
    $primary-white-color: #ffffff;
    $accent-color: #2196F3;
    $logo-color: #000000;
